.towerAmmoInfo
{
	margin-top: 10px;
	height: 80px;
}

#noAmmo{
	width: 64px;
	height: 64px;
	horizontal-align: center;
	visibility: collapse;
}

.noAmmo2{
	background-image: url("file://{images}/custom_game/hud/Bomb_blue.png");
	margin-top: -10px;
}

.noAmmo3{
	background-image: url("file://{images}/custom_game/hud/Bomb_red.png");
	margin-top: -26px;
}

#remainingAmmoTop{
	background-image: url("file://{images}/custom_game/hud/ammoSlots.png");
	width: 144px;
	height: 7px;
	margin-top: 66px;
}

#remainingAmmo{
	width: 144px;
	height: 7px;
	opacity-mask: url( "file://{images}/custom_game/hud/masks/ammoSlots.png" );

}

#remainingAmmoLeft{
	background-color: yellow;
	width: 100%;
	height: 100%;
}

#remainingAmmoTop2{
	background-image: url("file://{images}/custom_game/hud/ammoSlots.png");
	width: 144px;
	height: 7px;
	visibility: collapse;
	margin-top: 72px;
}

#remainingAmmo2{
	width: 144px;
	height: 7px;
	opacity-mask: url( "file://{images}/custom_game/hud/masks/ammoSlots.png" );

}

#remainingAmmoLeft2{
	background-color: yellow;
	width: 100%;
	height: 100%;
}